<h1>Clientes RG3</h1>

<p><a href="[% Catalyst.uri_for('novo') %]">Cadastrar cliente</a></p>

<table width="100%">
	<tr>
		<th>Login</th>
		<th>Nome</th>
		<th>IP</th>
	</tr>
	
	[% FOREACH cliente IN clientes %]
	<tr [% IF cliente.bloqueado == 1 %]bgcolor="#FFAAAA"[% END %]>
		<td>[% cliente.login %]</td>
		<td><a href="[% Catalyst.uri_for('editar/') _ cliente.id %]">[% cliente.nome %]</a></td>
		<td>[% cliente.ip %]</td>
	</tr>
	[% END %]
	
</table>
