<form action="[% Catalyst.uri_for('/login') %]" method="POST">

<h2>Login</h2>

<table>
	<tr>
		<td>Nome de usuário:</td>
		<td><input type="text" name="username" size="15"></td>
	</tr>
	<tr>
		<td>Senha:</td>
		<td><input type="password" name="password" size="15"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="Entrar"></td>
	</tr>
</table>

</form>
